@model ExploreCities.Web.ViewModels.Cities.ListCitiesViewModel

@{
    ViewData["Title"] = "All Cities";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<form method="get" asp-controller="Cities" asp-action="All">
    <p>
        <div class="row">
            <div class="col text-left">
                <div class="form-group">
                    <label class="form-check-label text-primary">Filter by: </label>
                    <div class="form-check form-check-inline text-primary">
                        <input class="form-check-input" id="check" type="radio" checked asp-for="OptionSearch" value="Name">
                        <label class="form-check-label text-primary">City Name</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="check" type="radio" asp-for="OptionSearch" value="Area">
                        <label class="form-check-label text-primary">Area</label>
                    </div>
                </div>
            </div>

            <div class="col text-left">
                <div class="row">
                    <div class="form-group">
                        <input class="btn btn-outline-primary" type="text" name="SearchString" />
                        <input class="btn btn-outline-primary" type="submit" value="Filter" />
                    </div>
                </div>
            </div>

            <div class="col text-right">
                <div class="form-group">
                    <label class="text-primary">Show</label>
                    <select class="btn btn-outline-primary" name="PageSize" onchange="this.form.submit();">
                        <option value="6" selected="@(Model.PageSize == 6 ? true : false)">6</option>
                        <option value="12" selected="@(Model.PageSize == 12 ? true : false)">12</option>
                        <option value="24" selected="@(Model.PageSize == 24 ? true : false)">24</option>
                        <option value="48" selected="@(Model.PageSize == 48 ? true : false)">48</option>
                    </select>
                </div>
            </div>

            <div class="col text-right">
                <div class="form-group">
                    <label class="text-primary">Sort by</label>
                    <select class="btn btn-outline-primary" name="Sorter" id="Sorter" onchange="this.form.submit();">
                        <option value="1" selected="@(Model.Sorter.ToString() == "CityName" ? true : false)">City name</option>
                        <option value="2" selected="@(Model.Sorter.ToString() == "DistrictsCount" ? true : false)">Districts count (desc.)</option>
                        <option value="3" selected="@(Model.Sorter.ToString() == "UsersCount" ? true : false)">Users count (desc.)</option>
                    </select>
                </div>
            </div>

        </div>

        <a class="text-primary" asp-action="All">Back to List</a>

    </p>
</form>

<table class="table table-hover" style="width: 100%">
    <thead>
        <tr>
            <th scope="col">City Name</th>
            <th scope="col">Area</th>
            <th scope="col" class="text-center">Districts Count</th>
            <th scope="col" class="text-center">Users Count</th>
            <th scope="col" class="text-center">Districts</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var city in Model.AllCities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => city.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => city.Area)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => city.DistrictsCount)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => city.UsersCount)
                </td>
                <td>
                    <div class="row justify-content-center">
                        <a class="btn btn-block btn-primary text-white mb-3" style="width: 150px" asp-area="" asp-controller="Districts" asp-action="All" asp-route-cityId="@city.Id">All Districts</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-around">
    @Html.PagedListPager((IPagedList)Model.AllCities,
        page => Url.Action("All",
            new
                {
                    PageNumber = page,
                    PageSize = Model.PageSize,
                    SearchString = Model.SearchString,
            }),
        new PagedListRenderOptions
        {
            MaximumPageNumbersToDisplay = 5,
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
</div>


