@model ExploreCities.Web.ViewModels.Pictures.AllObjectPicturesViewModel

@{ ViewData["Title"] = "All Picures"; }

@if (Model.Pictures.Any())
{

<div class="card-deck container-fluid">
    @foreach (var item in Model.Pictures)
    {
<div class="col-md-4 mb-4">
    <div class="card text-body bg-light" style="max-width: 20rem; height: 100%">
        <a asp-controller="Pictures" asp-area="Administration" asp-action="Carousel" asp-route-pictureId="@item.Id">
            <img style="height: 350px; width: 100%" class="card-img-top" src="@item.Path" alt="Card image cap">
        </a>
        <div class="card-footer">
            <div class="col">
                <div class="row">
                    <small class="text-body">Object type - @item.ObjectType</small>
                </div>
                <div class="row">
                    <small class="text-body">Object name - @item.ObjectName</small>
                </div>
                <div class="row">
                    <small class="text-body">Created on - @item.CreatedOn</small>
                </div>
            </div>
            <div class="col">
                <a class="btn btn-warning" style="width: 100%" asp-area="Administration" asp-controller="Pictures" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    </div>
</div>}

</div> }
else
{
<div class="jumbotron">
    <p class="text-center">
        <em class="text-muted">No pictures added.</em>
    </p>
</div>}
