@using ExploreCities.Data.Models
@using Microsoft.AspNetCore.Identity
@using ExploreCities.Services.Data
@using ExploreCities.Common
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IGetEnumsDataService GetEnumDataService
@model ExploreCities.Web.ViewModels.DistrictViewObjects.BaseEditDetailsDeleteModel
@{
    ViewData["Title"] = "Details";

    var correctName = GetEnumDataService.ReturnCorrectName(Model.ObjectType);
}

<div class="container">

    <div class="row justify-content-center">
        <h1>@this.ViewData["Title"]</h1>
    </div>
    <hr />

    <div class="row">

        <div class="col col-md-3 justify-content-center ">

            <a asp-area="" asp-controller="Pictures" asp-action="All" asp-route-objectId="@Model.Id">
                <img style="height: 250px; width: 230px" src="/Pictures/refPictures/1.1.png" />
            </a>
            <h4 class="text-dark text-center mb-3">All pictures</h4>
        </div>

        <div class="col col-md-6">
            <div class="col mb-2">
                <label class="text-center" asp-for="ObjectType"></label>
                <input type="text" readonly class="form-control" id="DistrictName" asp-for="ObjectType" value="@correctName">
            </div>

            <div class="col mb-2">
                <label class="text-center" asp-for="Name"></label>
                <input type="text" readonly class="form-control" id="DistrictName" asp-for="Name" value="@Model.Name">
            </div>

            <div class="col mb-3">
                <label class="text-center" asp-for="Opinion"></label>
                <textarea asp-for="Opinion" rows="4" readonly class="form-control"></textarea>

            </div>
            @if (this.UserManager.GetUserId(this.User) == Model.UserId 
                || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div class="row">
                    <div class="col d-flex justify-content-center" style="width: 100%">
                        <a class="btn btn-primary mr-1 ml-1 " style="width: 150px" asp-area="" asp-controller="DistrictViewObjects" asp-action="Edit" asp-route-objectType="@Model.ObjectType" asp-route-id="@Model.Id">Edit</a>
                        <a class="btn btn-warning mr-1 ml-1 " style="width: 150px" asp-area="" asp-controller="DistrictViewObjects" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    </div>
                </div>
            }

        </div>
    </div>

</div>


