@model ExploreCities.Web.ViewModels.DistrictViewObjects.BaseEditDetailsDeleteModel

@using ExploreCities.Services.Data

@using ExploreCities.Data.Models.Enums

@inject IGetEnumsDataService GetEnumDataService

@{
    this.ViewData["Title"] = "Edit object";
}

<div class="row justify-content-center">
    <form method="post" class="col-md-6" asp-area="" asp-controller="DistrictViewObjects" asp-action="Edit"
          enctype="multipart/form-data">

        <h1 class="text-center">@this.ViewData["Title"]</h1>
        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ObjectType" class="control-label"></label>
            <select asp-for="ObjectType" multiple class="form-control" id="exampleFormControlSelect2">
                @foreach (var value in GetEnumDataService.GetEnumvValues(typeof(DistrictObjectType)))
                {
                    var correctName = GetEnumDataService.ReturnCorrectName(value);

                    if (value == Model.ObjectType)
                    {
                        <option selected="selected" value="@value">@correctName</option>
                    }
                    else
                    {
                        <option value="@value">@correctName</option>
                    }
                }
            </select>
            <span asp-validation-for="ObjectType" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Opinion" class="control-label"></label>
            <textarea asp-for="Opinion" rows="4" class="form-control" placeholder="Add opinion for current object."></textarea>
            <span asp-validation-for="Opinion" class="text-danger"></span>
        </div>
        <div class="row ">
            <div class="col d-flex justify-content-center" style="width: 100%">
                <input class="btn btn-primary mr-1 ml-1 " style="width: 150px" type="submit"  value="Edit"  />
                <a class="btn btn-warning mr-1 ml-1" style="width: 150px" asp-area="" asp-controller="DistrictViewObjects" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>
        </div>
    </form>
</div>>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
