@model ExploreCities.Web.ViewModels.DistrictViews.DistrictViewsDetailsViewModel

@using ExploreCities.Services.Data

@inject IGetEnumsDataService GetEnumDataService

@{
    var listEnumTypes = GetEnumDataService.GetEnumsFromNameSpace();

    double minWidth = 15;
    double maxWidth = 100;
    double functionalWidth = maxWidth - minWidth;
    double increaseValue = 0;
    double currentValue = 0;

    string[] classValue = new string[] { "progress-bar bg-danger", "progress-bar bg-info", "progress-bar bg-success" };
}

@foreach (var enumType in listEnumTypes)
{
    var enumValues = GetEnumDataService.GetEnumvValues(enumType).ToList();
    increaseValue = functionalWidth / (enumValues.Count - 1);

    <div class="col mb-2">
        @{
            @for (int i = 0; i < enumValues.Count; i++)
            {
                var clasS = classValue[i];

                currentValue = minWidth + increaseValue * i;

                if (enumType.Name == "AirPollutionRating")
                {
                    @if (Model.AirPollutionRating.ToString() == enumValues[i])
                    {
                        <label class="text-center" asp-for="AirPollutionRating"></label>
                        <div class="progress">

                            <div class="@clasS" role="progressbar" style="width: @currentValue%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                @Model.AirPollutionRating
                            </div>

                        </div>
                    }

                }

                else if (enumType.Name == "ChildrenPlaygroundsExistence")
                {
                    @if (Model.ChildrenPlaygroundsExistence.ToString() == enumValues[i])
                    {
                        <label class="text-center" asp-for="ChildrenPlaygroundsExistence"></label>
                        <div class="progress">
                            <div class="@clasS" role="progressbar" style="width: @currentValue%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                @Model.ChildrenPlaygroundsExistence
                            </div>

                        </div>
                    }

                }

                else if (enumType.Name == "NoiseRating")
                {
                    @if (Model.NoiseRating.ToString() == enumValues[i])
                    {
                        <label class="text-center" asp-for="NoiseRating"></label>
                        <div class="progress">
                            <div class="@clasS" role="progressbar" style="width: @currentValue%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                @Model.NoiseRating
                            </div>

                        </div>
                    }

                }

                else if (enumType.Name == "ParkingSpacesExistence")
                {

                    @if (Model.ParkingSpacesExistence.ToString() == enumValues[i])
                    {
                        <label class="text-center" asp-for="ParkingSpacesExistence"></label>
                        <div class="progress">
                            <div class="@clasS" role="progressbar" style="width: @currentValue%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                @Model.ParkingSpacesExistence
                            </div>

                        </div>
                    }

                }

                else if (enumType.Name == "PublicTransportRating")
                {
                    @if (Model.PublicTransportRating.ToString() == enumValues[i])
                    {
                        <label class="text-center" asp-for="PublicTransportRating"></label>
                        <div class="progress">
                            <div class="@clasS" role="progressbar" style="width: @currentValue%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                @Model.PublicTransportRating
                            </div>

                        </div>
                    }
                }
            }
        }
    </div>
}