@model ExploreCities.Web.ViewModels.DistrictViews.DistrictViewDeleteViewModel

@{ this.ViewData["Title"] = "Delete District View"; }

<div class="row justify-content-center">
    <form asp-area="" asp-controller="DistrictViews" asp-action="Delete" method="post" class="text-center col-md-6">
        <fieldset disabled="">
            <h4>@this.ViewData["Title"]</h4>
            <hr />
            <div class= form-group>
                <label asp-for="@Model.PictureUrl"></label>
                <img style="height: 200px; width: 100%;" class="card-img-top" src="@Model.PictureUrl" alt="image" />
            </div>
            <div class="form-group">
                <label asp-for="DistrictName"></label>
                <input asp-for="DistrictName" class="form-control col-md-12" placeholder="@Model.DistrictName" />
                <span asp-validation-for="DistrictName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalYear"></label>
                <input asp-for="ArrivalYear" class="form-control col-md-12" placeholder="@Model.ArrivalYear" />
                <span asp-validation-for="ArrivalYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureYear"></label>
                <input asp-for="DepartureYear" class="form-control col-md-12" placeholder="@Model.DepartureYear" />
                <span asp-validation-for="DepartureYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment"></label>
                <input asp-for="Comment" class="form-control col-md-12" placeholder="@Model.Comment" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            @await this.Html.PartialAsync("_EnumsDeletePartial")

            <div class="alert alert-danger">
                <h5>Are you shure you want to delete district view.</h5>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-warning">Delete district view</button>
    </form>
</div>




  