@model ExploreCities.Web.ViewModels.DistrictViews.DistrictViewsDetailsViewModel

@{
    ViewData["Title"] = "Details";

}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="container">

    <div class="text-center mb-4">
        <img src="@Model.PictureUrl" class="img-fluid rounded" style="height: 300px; width: 50%;" alt="Activity image" />
    </div>

    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="DistrictName">District name</label>
            <input type="text" readonly class="form-control" id="DistrictName" asp-for="DistrictName" value="@Model.DistrictName">
        </div>
    </div>
    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="ArrivalYear">Arrival year</label>
            <input type="text" readonly class="form-control" id="DistrictName" asp-for="ArrivalYear" value="@Model.ArrivalYear">
        </div>
    </div>
    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="DepartureYear">Departure year</label>
            <input type="text" readonly class="form-control" id="DistrictName" asp-for="DepartureYear" value="@Model.DepartureYear">
        </div>
    </div>
    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="Comment">Comment</label>
            <input type="text" readonly class="form-control" id="DistrictName" asp-for="Comment" value="@Model.Comment">
        </div>
    </div>

    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="ParkingSpacesExistence">Parking spaces - @Model.ParkingSpacesExistence</label>
            @if ((int)Model.ParkingSpacesExistence == 1)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }
            @if ((int)Model.ParkingSpacesExistence == 2)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

            @if ((int)Model.ParkingSpacesExistence == 3)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

        </div>
    </div>
  
    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="ChildrenPlaygroundsExistence">Children playgrounds - @Model.ChildrenPlaygroundsExistence</label>
            @if ((int)Model.ChildrenPlaygroundsExistence == 1)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }
            @if ((int)Model.ChildrenPlaygroundsExistence == 2)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

            @if ((int)Model.ChildrenPlaygroundsExistence == 3)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="AirPollutionRating">Air pollution - @Model.AirPollutionRating</label>
            @if ((int)Model.AirPollutionRating == 1)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }
            @if ((int)Model.AirPollutionRating == 2)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

            @if ((int)Model.AirPollutionRating == 3)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="NoiseRating">Noise - @Model.NoiseRating</label>
            @if ((int)Model.NoiseRating == 1)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }
            @if ((int)Model.NoiseRating == 2)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

            @if ((int)Model.NoiseRating == 3)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="form-group mb-2">
        <div class="col col-md-6 offset-3">
            <label class="text-center" asp-for="PublicTransportRating">Public transport - @Model.PublicTransportRating</label>
            @if ((int)Model.PublicTransportRating == 1)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }
            @if ((int)Model.PublicTransportRating == 2)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

            @if ((int)Model.PublicTransportRating == 3)
            {
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            }

        </div>
    </div>
</div>

