@model ExploreCities.Web.ViewModels.DistrictViews.DistrictViewsDetailsViewModel

@{
    ViewData["Title"] = "Details";

}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="container">

    <div class="row">

        <div class="col md-3 text-center">

            <div class="form-group mb-4 text-center">
                <a asp-controller="DistrictViewObjects" asp-action="All" asp-route-districtViewId="@Model.Id">
                    <img style="height: 250px; width: 230px" src="/Pictures/refPictures/1.2.png" />
                </a>
                <h4 class="text-dark text-center">All objects</h4>
            </div>
            <div class="form-group mb-4 text-center">
                <a class="btn btn-primary col mb-2" style="width: 80%" asp-area="" asp-controller="DistrictViews" asp-action="Edit" asp-route-id="@Model.Id">Edit view</a>
                <a class="btn btn-warning col mb-2" style="width: 80%" asp-area="" asp-controller="DistrictViews" asp-action="Delete" asp-route-id="@Model.Id">Delete view</a>
            </div>

        </div>

        <div class="col-md-9">

            <div class="row">

                <div class="col md-6">

                    <div class=" form-group mb-4">
                        <div class="col">
                            <img src="@Model.PictureUrl" class="img-fluid rounded" style="height: 300px; width: 57%;" alt="Activity image" />
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <div class="col-md-7">
                            <label class="text-center" asp-for="DistrictName">District name</label>
                            <input type="text" readonly class="form-control" id="DistrictName" asp-for="DistrictName" value="@Model.DistrictName">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="col-md-7">
                            <label class="text-center" asp-for="ArrivalYear">Arrival year</label>
                            <input type="text" readonly class="form-control" id="DistrictName" asp-for="ArrivalYear" value="@Model.ArrivalYear">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="col-md-7">
                            <label class="text-center" asp-for="DepartureYear">Departure year</label>
                            <input type="text" readonly class="form-control" id="DistrictName" asp-for="DepartureYear" value="@Model.DepartureYear">
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="col-md-7">
                            <label class="text-center" asp-for="Comment">Comment</label>
                            <input type="text" readonly class="form-control" id="DistrictName" asp-for="Comment" value="@Model.Comment">
                        </div>
                    </div>

                    @await this.Html.PartialAsync("_ProgressDetailsPartial")

                </div>
            </div>
        </div>
    </div>
</div>
