@model ExploreCities.Web.ViewModels.Pictures.AllObjectPicturesViewModel
@using ExploreCities.Common
@using ExploreCities.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{ ViewData["Title"] = "Picures";
    var count = Model.Pictures.Count();
    var collectionPictures = Model.Pictures.ToList(); }

@if (Model.Pictures.Any())
    {

    <div class="card-deck container-fluid">
        @foreach (var item in Model.Pictures)
        {
    <div class="col-md-4 mb-4">
        <div class="card text-body bg-light" style="max-width: 20rem; height: 100%">
            <a asp-controller="Pictures" asp-action="Carousel" asp-route-pictureId="@item.Id" asp-route-objectId="@item.DistrictViewObjectId">
                <img style="height: 350px; width: 100%" class="card-img-top" src="@item.Path" alt="Card image cap">
            </a>
            <div class="card-footer">
                <div class="col">
                    <small class="text-body">Created on - @item.CreatedOn</small>
                </div>
                @if (this.UserManager.GetUserId(this.User) == item.UserId
                || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
    <div class="col">
        <a class="btn btn-warning" style="width: 100%" asp-area="" asp-controller="Pictures" asp-action="Delete" asp-route-id="@item.Id" asp-route-objectId="@Model.ObjectId">Delete</a>
    </div>}
            </div>
        </div>
    </div>}

    </div> }
    else
    {
    <div class="jumbotron">
        <p class="text-center">
            <em class="text-muted">No pictures added.</em>
        </p>
    </div>}
