@model ExploreCities.Web.ViewModels.Pictures.AllObjectPicturesViewModel

@{ ViewData["Title"] = "Picures carousel";
    var count = Model.Pictures.Count();
    var collectionPictures = Model.Pictures.ToList();}

<input type="hidden" asp-for="@Model.ObjectId" value="@Model.ObjectId">
<input type="hidden" runat='server' id="param1" value="@(Model.CarouselIndex+1)" />

@if (Model.Pictures.Any())
{
<div class="container">

    @for (int i = 0; i <= collectionPictures.Count - 1; i++)
    {

@*<div class="caption-container">
    <p id="caption"></p>
</div>*@ 
    
var path = collectionPictures[i].Path;
var number = i + 1;

<div class="mySlides">
    <div class="numbertext">@number / @count  </div>
    <img src="@path" style="width:100%">
</div>
    
 if (i == collectionPictures.Count - 1)
{
<div class="row justify-content-center">

    @for (int j = 0; j <= collectionPictures.Count - 1; j++)
            {
                var thumbnailPath = collectionPictures[j].Path;
                var numberSlide = j + 1;

<div class="column">
    <img class="demo cursor" src="@thumbnailPath" style="width:100%" onclick="currentSlide(@numberSlide)" alt="">
</div>}

</div>}
}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div> }

else
{
<div class="jumbotron">
    <p class="text-center">
        <em class="text-muted">No pictures added.</em>
    </p>
</div>}


<link rel="stylesheet" type="text/css" href="/ObjectPicturesGallery/Style.css">

<script type="text/javascript" src="~/ObjectPicturesGallery/SlideFunction.js"></script>

